<div class="search-form">
    <mat-form-field appearance="outline" class="search-input">
        <mat-label>Digite uma palavra-chave</mat-label>
        <input matInput [(ngModel)]="name" placeholder="Palavra-chave"/>
        <button mat-button matSuffix color="primary" aria-label="Pesquisar" (click)="searchByName()">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
</div>

<div class="empty" *ngIf="result.length == 0">
    <mat-icon class="icon">no_sim</mat-icon>
    <br>
    <span>Nenhum conteúdo disponível.</span>
</div>

<div class="card-container" *ngFor="let item of result">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ item.name }}</mat-card-title>
            <mat-card-subtitle>
                Publicado por: {{ item.postedBy }} | Publicado em: {{ item.date | date: 'medium' }}
            </mat-card-subtitle>
        </mat-card-header>

        <mat-grid-list cols="5">
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <img mat-card-image [src]="item.img" class="post-img" alt="Imagem de {{ item.name }}" />
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3" [rowspan]="1">
                <mat-card-content>
                    {{ item.content.length > 600 ? item.content.substr(0,600) + '...' : item.content }}
                </mat-card-content>
            </mat-grid-tile>
        </mat-grid-list>

        <hr>
        <mat-card-actions>
            <button mat-raised-button color="primary">{{item.likeCount}} <mat-icon>favorite</mat-icon></button>

            <button mat-raised-button color="primary" style="margin-left: 5px;">
                {{item.viewCount}} <mat-icon>remove_red_eye</mat-icon>
            </button>

            <button mat-raised-button color="primary" style="margin-left: 5px;" routerLink="/view-post/{{ item.id }}">Ler Mais</button>
        </mat-card-actions>
    </mat-card>
</div>
