
  <mat-toolbar color="primary">

    <span>BlogWeb</span>
    <span class="example-spacer"></span>

    <button mat-raised-button color="primary" routerLink="/create-post">➕ Nova Postagem</button>
    <button mat-raised-button color="primary" routerLink="/view-all">👁️ Visualizar Postagens</button>
    <button mat-raised-button color="primary" routerLink="/search-by-name">🔎 Pesquisar</button>

    <button *ngIf="!isLogged" mat-raised-button color="primary" routerLink="/login">Entrar</button>
    <button *ngIf="!isLogged" mat-raised-button color="primary" routerLink="/signup">Cadastrar</button>
    <button *ngIf="isLogged" mat-raised-button color="primary" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon>Dashboard</button>   
    <button *ngIf="isLogged" mat-raised-button color="primary" (click)="logout()">Sair</button>


    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>


  <router-outlet></router-outlet>

